<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cityguard.case.mapper.CaseInfoMapper">

    <insert id="generateCaseNo">
        SELECT CONCAT('YC', DATE_FORMAT(NOW(), '%Y%m%d'), LPAD(IFNULL(MAX(SUBSTRING(case_no, 11)), 0) + 1, 4, '0'))
        FROM case_info
        WHERE case_no LIKE CONCAT('YC', DATE_FORMAT(NOW(), '%Y%m%d'), '%')
    </insert>

</mapper>