/* uni.scss - 全局样式变量 */
$uni-primary: #409eff;
$uni-primary-light: #66b1ff;
$uni-primary-dark: #409eff;
$uni-success: #67c23a;
$uni-warning: #e6a23c;
$uni-danger: #ff4d4f;
$uni-info: #909399;

$uni-text-color: #303133;
$uni-text-color-secondary: #606266;
$uni-text-color-placeholder: #c0c4cc;
$uni-text-color-grey: #909399;

$uni-border-color: #e4e7ed;
$uni-border-color-light: #ebeef5;
$uni-border-color-lighter: #f2f6fc;

$uni-bg-color: #f8f8f8;
$uni-bg-color-grey: #f5f7fa;
$uni-bg-color-hover: #ecf5ff;